accelerate==0.30.0
contexttimer
diffusers>=0.30.1
einops
ftfy
gradio
imageio-ffmpeg==0.5.1
imageio==2.33.1
ipython
jsonlines
numpy==1.24.4
opencv-python-headless==4.10.0.84
packaging
pandas
plotly
pre-commit
python-magic
scikit-image
sentencepiece
spacy==3.7.5
streamlit
tensorboardX
tiktoken
timm==0.6.12
torch==2.1.2+cu124  -f https://download.pytorch.org/whl/cu124
#torch==2.4.1+cu124 -f https://download.pytorch.org/whl/cu124
torchaudio==2.1.2+cu124   -f https://download.pytorch.org/whl/cu124
#torchaudio==2.4.1+cu124 -f https://download.pytorch.org/whl/cu124
torchmetrics
torchvision==0.16.2+cu124  -f https://download.pytorch.org/whl/cu124
#torchvision==0.19.1+cu124 -f https://download.pytorch.org/whl/cu124
tqdm
transformers==4.39.3
wheel