accelerate==1.0.1
diffusers==0.30.3
einops==0.8.0
flash_attn==2.6.3
gradio==5.3.0
huggingface_hub==0.25.2
ipython==8.12.3
jsonlines==4.0.0
numpy==1.24.4
Pillow==11.0.0
piq==0.8.0
Requests==2.32.3
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
timm==0.6.12
torch==2.4.0+cu124
torchvision==0.19.0+cu124
tqdm==4.66.5
transformers==4.39.3
